.movies-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 479px;
}

.movies-card-list__container {
  margin: 70px 0 30px;
  padding: 0;
  column-gap: 30px;
  row-gap: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  max-width: calc(100% - 140px);
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .movies-card-list__container {
    column-gap: 24px;
    row-gap: 35px;
    grid-template-columns: repeat(auto-fill, 342px);
    max-width: calc(100% - 60px);
  }
}

.movies-card-list__more-button {
  margin: 30px 0 80.5px 0;
  padding: 0;
  min-width: calc(100% - 140px);
  min-height: 36px;
  border-radius: 6px;
  background: #2F2F2F;
  outline: none;
  border: none;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.21;
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .movies-card-list__more-button {
    margin: 50px 0 80.5px 0;
    min-width: calc(100% - 60px);
  }
}

.movies-card-list__devider {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 200.5px;
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .movies-card-list__devider {
    min-height: 140.5px;
  }
}
