.about-project {
  min-height: 608px;
}

.about-project__title {
  margin: 111px 0 0 0;
  padding: 0;
  max-width: 600px;
  position: sticky;
  left: 70px;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.88px;
}

.about-project__table {
  margin: 23px 70px 0 70px;
  padding-top: 70px;
  border-top: 1px solid #DADADA;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 24px 40px;
  row-gap: 26px;
  column-gap: 40px;
}

.about-project__table-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.8px;
  color: #FFF;
}

.about-project__table-caption {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #FFF;
}

.about-project__scheme {
  margin: 110px 70px 0 70px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 36px 18px;
  row-gap: 14px;
}

.about-project__scheme-element {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  color:#8B8B8B;
}

.about-project__scheme-element_green {
  background-color: #3DDC84;
  color: #000;
  font-weight: 400;
}

.about-project__scheme-element_grey {
  background-color: #303030;
  color: #FFF;
  font-weight: 400;
}
