.search-form {
  min-height: 242px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .search-form__form {
    min-height: 250px;
  }
}

.search-form__form {
  margin: 0 auto 0 auto;
  padding: 0;
  min-width: calc(100% - 140px);
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .search-form__form {
    min-width: calc(100% - 60px);
  }
}

.search-form__input-container {
  margin: 70px auto 26px auto;
  padding: 0;
  min-width: calc(100% - 143px);
  min-height: 69px;
  border-radius: 8px;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .search-form__input-container {
    min-width: calc(100% - 60px);
  }
}

.search-form__input {
  margin: 0 0 0 23.5px;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  min-height: 100%;
  color: #8B8B8B;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.search-form__button {
  margin: 0 8.5px 0 0;
  padding: 0;
  min-height: 52px;
  min-width: 100px;
  border-radius: 5px;
  background-color: #4285F4;
  border: none;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.search-form__checkbox-container {
  margin: 0;
  padding: 0;
  min-height: 63px;
  display: flex;
  column-gap: 14px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .search-form__checkbox-container {
    min-height: 71px;
  }
}

.search-form__checkbox-label {
  margin: 0;
  padding: 0;
  max-height: 20px;
  max-width: 36px;
}

.search-form__invisible-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  opacity: 0;
}

.search-form__invisible-checkbox + span {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 36px;
  height: 20px;
  background: url(../../images/checkbox.svg);
  background-size: 100% 100%;
}

.search-form__invisible-checkbox:checked + span {
  background: url(../../images/checkbox-active.svg);
  background-size: 100% 100%;
}

.search-form__label-text {
  margin: 0;
  padding: 1.5px 0 0 0;
  color: #FFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
