.techs {
  min-height: 625px;
  background-color: #272727;
}

.techs__title {
  margin: 0;
  padding: 100px 0 0 0;
  max-width: 600px;
  position: sticky;
  left: 70px;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.88px;
}

.techs__main-container {
  margin: 23px 0 0 0;
  padding: 0;
  border-top: 1px solid #DADADA;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 26px;
}

.techs__main-title {
  margin: 90px 0 0 0;
  padding: 0;
  max-width: 600px;
  text-align: center;
  color: #FFF;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
}

.techs__caption {
  margin: 0;
  padding: 0;
  max-width: 460px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -0.56px;
}

.techs__blocks {
  margin: 100px 295px 0 295px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}

.techs__block {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 60px;
  background-color: #303030;
  border-radius: 10px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.56px;
}
