.header {
  display: flex;
  justify-content: space-between;
  min-height: 74px;
}

.header__nav-logo {
  display: flex;
  position: sticky;
  left: 70px;
}

.header__logo {
  width: 38px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.header__nav-menu {
  margin: 0;
  padding: 0;
  position: sticky;
  right: 70px;
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.header__nav-menu_state-logged {
  column-gap: 21px;
}

.header__nav-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__nav-link_state-logged {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.header__nav-button {
  margin: 0;
  padding: 0;
  min-width: 76px;
  min-height: 32px;
  border: none;
  border-radius: 3px;
  background-color: #3DDC84;
  color: #000;
}

.header__nav-button-state-logged {
  margin: -2px 0 0 0;
  padding: 0 0 0 29px;
  min-width: 100px;
  min-height: 30px;
  border: none;
  background-color: transparent;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.header__nav-button-logo-container {
  min-width: 30px;
  min-height: 30px;
  background-color: #0F4157;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-button-logo-container_theme-dark {
  background-color: #313131;
}
