.header {
  display: flex;
  justify-content: space-between;
  min-height: 74px;
}

.header__nav-logo {
  display: flex;
  position: sticky;
  left: 70px;
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .header__nav-logo {
    left: 30px;
  }
}

@media screen and (max-width: 634px) {
  .header__nav-logo {
    left: 14px;
  }
}

.header__logo {
  width: 38px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.header__nav-menu {
  margin: 0;
  padding: 0;
  position: sticky;
  right: 70px;
  display: flex;
  column-gap: 30px;
  align-items: center;
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .header__nav-menu {
    right: 30px;
  }
}

@media screen and (max-width: 634px) {
  .header__nav-menu {
    right: 14px;
    column-gap: 14px;
  }
}

.header__nav-menu_logged {
  column-gap: 21px;
}

@media screen and (max-width: 634px) {
  .header__nav-menu_logged {
    column-gap: 14px;
  }
}

@media screen and (max-width: 1080px) {
  .header__nav-menu_logged {
    display: none;
  }
}

.header__nav-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (max-width: 634px) {
  .header__nav-link {
    font-size: 10px;
  }
}

.header__nav-link_logged {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.header__nav-button {
  margin: 0;
  padding: 0;
  min-width: 76px;
  min-height: 32px;
  border: none;
  border-radius: 3px;
  background-color: #3DDC84;
  color: #000;
}

@media screen and (max-width: 634px) {
  .header__nav-button {
    min-width: 54px;
    min-height: 26px;
  }
}

.header__nav-button_logged {
  margin: -2px 0 0 0;
  padding: 0 0 0 29px;
  min-width: 100px;
  min-height: 30px;
  border: none;
  background-color: transparent;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.header__nav-button-logo-container {
  min-width: 30px;
  min-height: 30px;
  background-color: #0F4157;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-button-logo-container_theme-dark {
  background-color: #313131;
}

.header__burger-menu-button {
  display: none;
  margin: 15px 0 0 0;
  padding: 0;
  position: sticky;
  right: 30px;
  background: url(../../images/burger-menu.svg) no-repeat;
  background-size: 44px 44px;
  height: 44px;
  width: 44px;
  border: none;
  outline: none;
  z-index: 3;
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .header__burger-menu-button {
    display: flex;
  }
}

@media screen and (max-width: 634px) {
  .header__burger-menu-button {
    margin: 17.5px 0 0 0;
    background-size: 34px 39.5px;
    display: flex;
    right: 17px;
    height: 40px;
    width: 34px;
  }
}

.header__burger-menu-button_active {
  margin: 22px 0 0 0;
  right: 22px;
  background: url(../../images/close-icon.svg) no-repeat;
  width: 32px;
  aspect-ratio: 1/1;
}
