.promo {
  margin-top: -74.5px;
  min-height: 648px;
  background-color: #073042;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .promo {
    min-height: 924px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 634px) {
  .promo {
    min-height: 710px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }
}

.promo__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 149px 0 0 0;
  position: sticky;
  left: 70px;
  row-gap: 36px;
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .promo__text-container {
    align-items: center;
    margin: 49px 0 0 0;
    position: static;
    row-gap: 22px;
  }
}

@media screen and (max-width: 634px) {
  .promo__text-container {
    align-items: center;
    margin: 44px 0 0 0;
    position: static;
    row-gap: 24px;
  }
}

.promo__title {
  margin: 0;
  padding: 0;
  color: #FFF;
  max-width: 640px;
  min-height: 174px;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .promo__title {
    max-width: 680px;
    min-height: 100px;
    text-align: center;
    font-size: 40px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 634px) {
  .promo__title {
    max-width: 300px;
    min-height: 114px;
    text-align: center;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.2px;
  }
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .promo__title-line-break {
    display: none;
  }
}

.promo__caption {
  margin: 0;
  padding: 0;
  color: #FFF;
  max-width: 310px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  opacity: 0.5;
}

@media screen and (max-width: 1080px) {
  .promo__caption {
    max-width: 260px;
    text-align: center;
  }
}

.promo__nav-link {
  cursor: default;
}

.promo__about-project-button {
  margin: 111px 0 0 0;
  padding: 0;
  min-width: 129px;
  min-height: 36px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  background-color: #073042;
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}

.promo__about-project-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .promo__about-project-button {
    margin: 70px 0 0 0;
  }
}

@media screen and (max-width: 634px) {
  .promo__about-project-button {
    margin: 57px 0 0 0;
  }
}

.promo__logo {
  margin: 149px 0 0 0;
  position: sticky;
  right: 70px;
  width: 310px;
  height: 304px;
}

@media screen and (max-width: 1080px) and (min-width: 635px) {
  .promo__logo {
    margin: 214px 0 0 0;
    position: static;
  }
}

@media screen and (max-width: 634px) {
  .promo__logo {
    margin: 144px 0 0 0;
    position: static;
    width: 210px;
    height: 206px;
  }
}
